.lazy-load .sticky-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: inline-block;
  opacity: .8;
  padding: 10px 20px;
  font-size: 14px;
  background: #9effb7;
  color: #000;
}

/******************************/
/********* spinner ************/
/******************************/
.lazy-load .spinner {
  width: 100%;
  height: 100px;
  transition: height .5s ease;
  overflow: hidden;
}

.lazy-load .spinner.hidden {
  height: 0px;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-ring {
  background: none;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.loading-ring > div {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #3076ff;
  animation: spinner-animation 1s linear infinite;
}
